<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "2.2.0">
    <name>2 to 4</name>

    <description>
        An app to aid you in your filo pastry
    </description>

    <author href="http://redemptionmedia.co.uk" email="nick@redemptionmedia.co.uk">
        St Toms Students
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />
   
    <gap:splash src="splash.png" />
	
</widget>
